<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('./partials/head') %>
    <title>homepage</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <!-- <%= JSON.stringify(user) %> -->

    <!-- <%= JSON.stringify(blogs) %> -->
<!-- 
    <div class="container mt-3 " >
       <div class="row row-cols-2">
        <% blogs.forEach(blog => { %>
       

          <div class="col">
            <div class="card m-4" style="width: 18rem;">
              <img src="<%=blog.coverImageURL %>" width="700"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= blog.title %></h5>
               
                <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
         
        <% }) %>
       </div>
      
    </div> -->


    <div class="container mt-3 d-flex flex-wrap" >
      
       <% blogs.forEach(blog => { %>
      

         
           <div class="card m-4" style="width: 18rem;">
             <img src="<%=blog.coverImageURL %>" width="300" height="300"  class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title"><%= blog.title %></h5>
               
               <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
             </div>
           </div>
         
        
       <% }) %>
      
     
   </div>
      
    <%- include('./partials/scripts') %>
  </body>
</html>
